.media {

	&-avatar {
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		box-shadow: $box-shadow;
	}

	&-title {
		font-size: .9rem;
		margin-bottom: .2rem;
	}

	&-subtitle {
		font-size: .7rem;
		font-weight: bold;
		margin-bottom: 0;
	}
}