.todo-list {
	padding-left: 0;

	&-item {
		display: flex; 
		padding: 1.15rem 0;
		border-bottom: 1px solid $light;
		margin-bottom: 0;

		&:last-child {
			border-bottom: 0;
		}
	}

	&-checkbox {
		margin-right: 1rem;

		&.checked + .todo-list-label{ 
				text-decoration: line-through;
				opacity: .5;
		}
	}

	&-label {
		margin-bottom: 0;
	}

	&-title { 
		margin-bottom: .1rem;
		margin-top: -.1rem;
	}

	&-subtitle {
		font-size: .8rem;
		opacity: .9;
		margin-bottom: 0;
	}
}